.header-contacts{
  display: flex;
  margin-left: auto;

  @media screen and (max-width:767px) {
  display: none;
  }

  @media screen and (max-width:1199px) {
  flex-direction: column;
  }
  @media screen and (min-width:1200px) {
  margin-left: 318px;;
  }
}
.header-contacts__item:first-child{
  @media screen and (max-width:1199px) {
  padding-bottom: 10px;
  }
  @media screen and (min-width:1200px) {
    margin-right: 30px;
  }
}
.header-contacts__link{
  font-family: $brand-font;
  text-decoration: none;
  color: $adult-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16666666667;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: $button-link-color;
 }

 @media screen and (min-width:1200px) {
    font-size: 14px;
    line-height: 1.14285714;
  }

}
.header-nav__icon {
  margin-right: 8px;
  fill: currentColor;

  &:hover,
  &:focus {
  fill: currentColor;
 }

 @media screen and (min-width:1200px) {
  margin-right: 10px;
  }
}
.header-contacts__icon{
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
  fill: currentColor;
 }
}
