.logo-header {
  color: $button-link-color;
  font-family: Raleway;
  text-decoration: none;
  font-style: normal;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19230769;
  margin-right: 93px;
}
.logo-header__item {
  color: $logo-header-color;
}