.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  @media screen and (max-width:767px) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  @media screen and (min-width:768px) {
  display: flex;
  align-items: center;
  }
}
.logo-header {
  color: $button-link-color;
  font-family: Raleway;
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.16666667;

  @media screen and (min-width:768px) {
  margin-right: 88px;
  }

  @media screen and (min-width:1200px) {
  font-size: 26px;
  line-height: 1.19230769;
  margin-right: 93px;
  }
}
.logo-header__item {
  color: $logo-header-color;
}