  $brand-color: #212121;
  $button-link-color: #2196f3;
  $logo-header-color: #000000;
  $logo-footer-color: #ffffff;
  $adult-color: #757575;
  $background-color: #2f303a;
  $gradient-color: rgba(47, 48, 58, 0.4);
  $works-background-color: rgba(47, 48, 58, 0.8);
  $section-color: #f5f4fa;
  $title-button-color: #188ce8;
  $icon-color: #afb1b8;
  $social-footer-color: rgba(255, 255, 255, 0.1);
  $modal-background-color: rgba(0, 0, 0, 0.5);
  $overlay-color: rgba(33, 150, 243, 0.9);
  $footer-nav-color:rgba(255, 255, 255, 0.6);
  $backdrop-color: rgba(0, 0, 0, 0.5);
  $placeholder-color:rgba(117, 117, 117, 0.5);
  $brand-font: 'Roboto';